:host {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #F9F9F9;
  font-family: 'RobotoDraft', sans-serif;
  font-weight: 300;
  overflow: auto;
  /* border-radius: 10px;
  border: 1px solid #D8D8D8; */
}
/* To ensure your styling works under the Shadow DOM polyfill, see
   www.polymer-project.org/docs/polymer/styling.html#directives */
polyfill-next-selector { content: ':host > h2'; }
::content h2 {
  color: blue;
}
.mainContent {
  overflow: auto;
  height: 100%;
  width: 100%; 
}
.timeline-post, .row {
  border-bottom: 1px solid #f9f9f9;
  margin-bottom: 35px;
  /* min-height: 300px;  this is defined by shottime */
}
core-list {
  height: 100%;
}
.shottime {
  position: relative;
  text-align: center;
  padding: 20px;
  font-size: 2em;
  min-height: 80px; /* this set to height of the row */
  color: #8B898F;
  font-weight: 100;
  vertical-align: middle;
  min-width: 75px;
  border-right: 1px solid #E0E0E0;
}
.division-icon {
  margin-left: -12px;
  position: relative;
  vertical-align: middle;
  padding-top: 25px;
}
.author-info {
  padding-left: 8px;
  padding-top: 3px;
}
.title {
  font-size: 0.9em;
  font-weight: 300 !important;
  color: #8B898F;
}
.stars {
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
}
.username {
  font-style: bold; 
  font-weight: 700 !important;
  line-height: 16px;
}
.location {
  color: #888;
  font-size: 0.8em;
}
.timepost {
  color: #C8C8C8;
  font-size: 0.9em;
  font-weight: 300 !important;
}
.post {
  display: block;
  font-family: inherit;
  font-weight: 300 !important; 
  color: #3D3C40;
  font-size: 15px;
  line-height: 20px;
  padding-right: 20px;
  cursor: pointer;
  min-height: 100%;
}
.post .actions-for-post {
  width: 100%;
}
paper-button.btn-collapse {
  display: none;
  background-color: rgba(255,255,255,0.5);
  color: #888;
  margin: 0;
  font-size: 0.85em;
  width: 100%;
}
.post .hashLink {
  color: #47CACC !important;
  text-decoration: none;
}
core-icon {
  color: rgba(114, 98, 151, 0.8);
  background-color: #F9F9F9;
}
core-icon .pallete-icon-color .autumn {
  color: #726297;
}
.pallete-icon-color.spring{
  color: #47CACC;
}
.pallete-icon-color.summer{
  color: #FED359;
}
.pallete-icon-color.winter{
  color: #344553;
}
.content {
  width: 80%;
  margin-left: 16px;
  margin-top: 16px;
  overflow-wrap: break-word; 
  word-wrap: break-word;
  word-break: break-all;
}
}
.timeline-social {
  /* .timeline-social is same level of .content
      because its margins is same */
  margin-left: 16px;
  margin-top: 16px;  
}
.thumbnail img {
  background-color: #ccc;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  -moz-force-broken-image-icon: 1;
}

@media (max-width: 481px) {
  .shottime {
    position: relative;
    text-align: center;
    padding: 28px 16px 10px 8px;
    font-size: 0.85em;
    min-height: 80px; /* this set to height of the row */
    color: #8B898F;
    font-weight: 100;
    vertical-align: middle;
    min-width: 32px;
    border-right: 1px solid #E0E0E0;
}
.timeline-post, .row {
  margin-bottom: 45px;
}
.post {
  padding-right: 5px;  
}

}
